<main class="main-item">

    <h1>{{xp?.title}}</h1>

    <div id="xp-type">
        <p>Contrat :</p>
        <p>{{xp?.type}}</p>
    </div>

    <div id="xp-company">
        <p>Entreprise :</p>
        <p>{{xp?.company}}</p>
    </div>

    <div id="xp-desc">
        <p>Description :</p>
        <p>{{xp?.desc}}</p>
    </div>
    
    <div id="xp-date">
        <p>Date :</p>
        <p>{{xp?.date}}</p>
    </div>

    <div id="xp-location">
        <p>Lieu :</p>
        <p>{{xp?.location}}</p>
    </div>

</main>

<div class="home" routerLink="/exp-pro">
    <h1>Expériences Professionnelles</h1>
</div>
<div class="home" routerLink="/">
    <h1>Accueil</h1>
</div>