<main class="main-item">

    <h1>{{asso?.name}}</h1>

    <div id="asso-role">
        <p>Poste :</p>
        <p>{{asso?.role}}</p>
    </div>

    <div id="asso-desc">
        <p>Description :</p>
        <p>{{asso?.desc}}</p>
    </div>
    
    <div id="asso-date">
        <p>Date :</p>
        <p>{{asso?.date}}</p>
    </div>

    <div id="asso-location">
        <p>Lieu :</p>
        <p>{{asso?.location}}</p>
    </div>

</main>

<div class="home" routerLink="/asso">
    <h1>Associations</h1>
</div>
<div class="home" routerLink="/">
    <h1>Accueil</h1>
</div>