<main>
    <h1>Compétences</h1>

    <table class="skill_group" *ngFor="let x of skill">
        <b>{{x.name}}</b>

        <tr class="skills_item">
            <td class="values" *ngFor="let v of x.value">
                {{v}}
             </td>
        </tr>
    </table>

    <h1>Langues</h1>

    <table>
        <tr *ngFor="let x of language" class="hobbies">
            <td class="name">{{x.name}}</td>
            <td class="level">{{x.level}}</td>
        </tr>
    </table>
</main>

<div class="home" routerLink="/">
    <h1>Accueil</h1>
</div>