<main class="main-item">

    <h1>{{projects?.name}}</h1>

    <div id="projects-team">
        <p>Équipe :</p>
        <p>{{projects?.team}}</p>
    </div>

    <div id="projects-language">
        <p>Langage :</p>
        <p>{{projects?.language}}</p>
    </div>

    <div id="projects-desc">
        <p>Description :</p>
        <p>{{projects?.desc}}</p>
    </div>
    
    <div id="projects-date">
        <p>Date :</p>
        <p>{{projects?.date}}</p>
    </div>

</main>

<div class="home" routerLink="/projects">
    <h1>Projets</h1>
</div>
<div class="home" routerLink="/">
    <h1>Accueil</h1>
</div>