<main>
    <h1>Distinctions</h1>

    <!-- <i class="fa fa-play"></i> -->
    <table>
        <tr *ngFor="let x of distincts" class="hobbies">
            <td class="dinstinct">{{x.name}}</td>
            <td class="date">{{x.date}}</td>
        </tr>
    </table>

    <h1>Loisirs</h1>

    <!-- <i class="fa fa-play"></i> -->
    <table>
        <tr *ngFor="let x of hobbies"  class="hobbies">
            <td class="dinstinct">{{x}}</td>
        </tr>
    </table>
</main>

<div class="home" routerLink="/">
    <h1>Accueil</h1>
</div>