<main class="main-item">

    <h1>{{formation?.structure}}</h1>

    <div id="formation-desc">
        <p>Description :</p>
        <p>{{formation?.desc}}</p>
    </div>
    
    <div id="formation-date">
        <p>Date :</p>
        <p>{{formation?.date}}</p>
    </div>

    <div id="formation-location">
        <p>Lieu :</p>
        <p>{{formation?.location}}</p>
    </div>

</main>

<div class="home" routerLink="/formation">
    <h1>Formation</h1>
</div>
<div class="home" routerLink="/">
    <h1>Accueil</h1>
</div>