<h1>Expériences Professionnelles</h1>
<h2>Informatique</h2>
<div id="it">
    <ul class="ul-content">
        <li class="li-content type">Alternance</li>
        <li class="li-content title">Ingénieur Data Cloud AWS</li>
        <li class="li-content xp-desc">Construction de la data plateforme avec les services AWS</li>
        <li class="li-content date">09/2023 - 09/2024</li>
        <li class="li-content company">Safran Helicopter Engines</li>
        <li class="li-content xp-location">Bordes (64)</li>
    </ul>
    <ul class="ul-content">
        <li class="li-content type">Stage</li>
        <li class="li-content title">Ingénieur Data Cloud AWS</li>
        <li class="li-content xp-desc">Programmation d'une application utilisant les services AWS pour présenter le Cloud Hybride</li>
        <li class="li-content date">04/2023 - 08/2023</li>
        <li class="li-content company">Safran Helicopter Engines</li>
        <li class="li-content xp-location">Bordes (64)</li>
    </ul>
    <ul class="ul-content">
        <li class="li-content type">Stage</li>
        <li class="li-content title">Developpement</li>
        <li class="li-content xp-desc">Programmation d'une application d'EdTech</li>
        <li class="li-content date">05/2021 - 07/2021</li>
        <li class="li-content company">Atelier numérique, Hélioparc</li>
        <li class="li-content xp-location">Pau (64)</li>
    </ul>
    <ul class="ul-content">
        <li class="li-content type">Stage</li>
        <li class="li-content title">Maintenance</li>
        <li class="li-content xp-desc">Maintenance et réparation de matériel informatique pour des entreprises</li>
        <li class="li-content date">12/2017</li>
        <li class="li-content company">CapLaser</li>
        <li class="li-content xp-location">Castres (81)</li>
    </ul>
    <ul class="ul-content">
        <li class="li-content type">Stage</li>
        <li class="li-content title">Matériaux composites</li>
        <li class="li-content xp-desc">Réalisation de maquettes digitales et moulages</li>
        <li class="li-content date">06/2016</li>
        <li class="li-content company">Compositadour</li>
        <li class="li-content xp-location">Bayonne (64)</li>
    </ul>
</div>
<h2>Autres</h2>
<div id="other">
    <ul class="ul-content">
        <li class="li-content type">CDD</li>
        <li class="li-content title">Agent Mixte</li>
        <li class="li-content xp-desc">Accueil des clients, vente confiserie, stocks, etc.</li>
        <li class="li-content date">10/2022 - 02/2023</li>
        <li class="li-content company">CGR Cinéma</li>
        <li class="li-content xp-location">Pau (64)</li>
    </ul>
    <ul class="ul-content">
        <li class="li-content type">CDD</li>
        <li class="li-content title">Intérim</li>
        <li class="li-content xp-desc">Serveur buvette</li>
        <li class="li-content date">10/2022</li>
        <li class="li-content company">Section Paloise</li>
        <li class="li-content xp-location">Pau (64)</li>
    </ul>
    <ul class="ul-content">
        <li class="li-content type">CDD</li>
        <li class="li-content title">Intérim</li>
        <li class="li-content xp-desc">Manutention</li>
        <li class="li-content date">08/2022</li>
        <li class="li-content company">Emmaus</li>
        <li class="li-content xp-location">La Ville-Dieu-du-Temple (82)</li>
    </ul>
    <ul class="ul-content">
        <li class="li-content type">CDD</li>
        <li class="li-content title">Intérim</li>
        <li class="li-content xp-desc">Usine textile</li>
        <li class="li-content date">07/2022</li>
        <li class="li-content company">Blanchisserie Bargues</li>
        <li class="li-content xp-location">Montauban (82)</li>
    </ul>
    <ul class="ul-content">
        <li class="li-content type">Stage</li>
        <li class="li-content title">Animation d'activité</li>
        <li class="li-content xp-desc">Intervention dans des écoles, réalisation d'ateliers</li>
        <li class="li-content date">01/2015</li>
        <li class="li-content company">Planétarium Observatoire</li>
        <li class="li-content xp-location">Montredon-Labessonnié (81)</li>
    </ul>
</div>
