* {
    padding: 0;
    margin: 0;
    font-family: 'Montserrat', sans-serif;
}

body {
    background-color: #000000;
    color: #b3b3b3
}

main h1 {
    text-align: center;
    margin-bottom: 30px;
    margin-top: 20px;
}

main {
    position: relative;
    width: calc(100vw - 40px);
    height: calc(100svh - 140px);
    border-radius: 10px;
    margin-top: 10px;
    margin-left: 10px;
    background-color: rgb(24, 24, 24);
    padding: 10px;
    overflow-y: scroll;
    scrollbar-width: none;
    -ms-overflow-style: none;
}

main::-webkit-scrollbar {
    display: none;
}

table {
    margin: auto;
    width: 100%;
    border-spacing: 0;
    border-collapse: collapse;
}

tr {
    height: 60px;
    margin: auto;
    table-layout: fixed;
}

tr td:first-child { border-top-left-radius: 10px; border-bottom-left-radius: 10px;}
tr td:last-child { border-top-right-radius: 10px; border-bottom-right-radius: 10px;}

td {
    text-align: center;
    margin: auto;
} 

.play-btn {
    width: 30px;
}

tr:hover {
    background-color: rgb(46, 46, 46);
    cursor: pointer;
} 
/* 
.structure {
    width: 15vw;
}
.form-location {
    width: 15vw;
}
.form-desc{
    width: 45vw;
}

.nom {
    width: 15vw;
}
.poste {
    width: 15vw;
}
.asso-location {
    width: 15vw;
}

.type {
    width: 7vw;
}
.date {
    width: 7vw;
}
.title {
    width: 15vw;
}
.company {
    width: 12vw;
} */

nav{
    text-align: center;
    position: absolute;
    width: calc(100vw - 40px);
    border-radius: 10px;
    bottom: 10px;
    margin-left: 10px;
    background-color: rgb(24, 24, 24);
    padding: 10px;
}

app-home > h1 {
    text-align: center;
    font-size: xxx-large;
    width: 80vw;
    margin: auto;
    margin-top: 25px;
}

nav h1 {
    padding-top: 15px;
    padding-bottom: 10px;
    font-size: xx-large;
}

nav ul {
    list-style-type: none;
    padding: 10px;
    border-radius: 10px;
}

nav li {
    border-radius: 10px;
    padding: 20px;
}

nav li:hover {
    background-color: rgb(46, 46, 46);
    cursor: pointer;
}

.home {
    height: 75px;
    width: calc(100vw - 20px);
    background-color: rgb(24, 24, 24);
    margin-left: 10px;
    margin-top: 10px;
    border-top-right-radius: 10px;
    border-top-left-radius: 10px;
    text-align: center;
    padding-top: 25px;
}

#bio {
    text-align: center;
    width: 80%;
    margin: auto;
    font-size: larger;
}

#coord {
    padding-top: 40px;
    width: fit-content;
    margin: auto;   
    list-style-type: none
}

#coord > li {
    width: fit-content;
    margin-top: 20px;
}

#coord i {
    width: 30px;
    text-align: center;
}

.skill_group {
    margin-top: 20px;
}

.skills_item {
    display: flex;
    background-color: rgb(35, 35, 35);
    border-radius: 10px;
}

