<h1>Formation</h1>
<ul class="ul-content">
    <li class="li-content structure">CyTech Pau</li>
    <li class="li-content form-desc">Cycle ingénieur - Spécialité Informatique - Ingénieurie du Cloud Computing</li>
    <li class="li-content date">2020 - 2024</li>
    <li class="li-content form-location">Pau (64)</li>
</ul>
<ul class="ul-content">
    <li class="li-content structure">Reykjavik University</li>
    <li class="li-content form-desc">Study semester abroad</li>
    <li class="li-content date">12/2021 - 05/2022</li>
    <li class="li-content form-location">Reykjavik, Iceland</li>
</ul>
<ul class="ul-content">
    <li class="li-content structure">CyTech Pau</li>
    <li class="li-content form-desc">Cycle pré-ingénieur Maths, Informatique, Physique</li>
    <li class="li-content date">2018 - 2020</li>
    <li class="li-content form-location">Pau (64)</li>
</ul>
<ul class="ul-content">
    <li class="li-content structure">Lycée Barral</li>
    <li class="li-content form-desc">Bac S - Sciences de l'ingénieur, Mention Bien</li>
    <li class="li-content date">2015 - 2018</li>
    <li class="li-content form-location">Castres (81)</li>
</ul>