<main>
    <h1>Informations personnelles</h1>

    <div id="bio" class="bg-primary">
        <p>
            Etudiant en 3ème année d'école d'ingénieur, je
    me suis spécialisé dans le Cloud Computing.
    Ingénieux, fiable et créatif, j'aimerais pouvoir
    apprendre de nouvelles compétences, et mettre
    en pratique celles que j'ai déjà acquises.
        </p>
    </div> 
    
    <div id="coord">
        <li>Phone</li>
        <li>Mail</li>
        <li></li>
    </div>
</main>

<div class="home" routerLink="/">
    <h1>Accueil</h1>
</div>