<main>

    <h1>Informations personnelles</h1>

    <div id="bio" class="bg-primary">
        <p>{{bio}}</p>
    </div>
    
    <div id="coord">
        
        <li id="phone"><i class="fa fa-phone"></i>  {{coords?.phone}}</li>
        <li id="mail"><i class="fa fa-envelope"></i>  {{coords?.mail}}</li>
        <li id="mobility"><i class="fa fa-map-marker"></i>  {{coords?.location}}</li>
        <li id="car"><i class="fa fa-car"></i>  {{coords?.mobility}}</li>
    </div>
</main>

<div class="home" routerLink="/">
    <h1>Accueil</h1>
</div>